<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-3">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title text-center">Chat</h5>
            <hr>
              <img class="rounded-circle" style="height: 50px; width: 50px;" id="neji" src="../../../assets/neji.jpg"><span> Buenas</span>
          </div>
        </div>

        <form class="mt-2 form-inline" action="index.html" method="post">
          <input style="width: 82%;" class="mr-2" type="text" name="" value=""> <button class="btn btn-success btn-sm" type="button" name="button">Enviar</button>
        </form>
      </div>
    </div>
</div>
