<div class="container-fluid">
  <!-- <div class="row">

      <div class="col-lg-4" style="background: red;">
        <p>mensjes</p>
      </div>

      <div class="col-lg-8" style="background: blue;">
        <div class="row">
          <div class="col-lg-12" style="background: orange;">
            <p>tablero de juego</p>
          </div>
          <div class="col-lg-12" style="background: yellow;">
            <p>opciones de juego</p>

          </div>
        </div>
      </div>

    </div> -->
<div class="row">
  <div class="col-lg-4">
    <chat></chat>
  </div>
</div>

</div>
