<!-- <sidebar></sidebar> -->
<div class="container-fluid" *ngIf="auth.loggedIn">

    <div class="row">

        <div class="col-md-4">
            <user-profile></user-profile>
            <box-publication class="d-block d-md-none"></box-publication>
            <lista-personajes></lista-personajes>
            <roles-mas-activos></roles-mas-activos>

        </div>

        <div class="col-md-6">
            <box-publication class="d-none d-md-block"></box-publication>
            <publications></publications>
        </div>
    </div>
    <!-- <timeline></timeline> -->
</div>
