<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="mt-2">Notificaciones</h4>
      <div class="card mt-2 border-0">
        <div class="card-body">
          <div class="row">
            <div class="co-lg-1">
              <img class="rounded-circle mb-2" id="neji" src="../../../assets/neji.jpg" style="height: 70px; width: 70px;">
            </div>
            <div class="col-9 col-sm-8 col-lg-8">
              <span class="card-text">Enhorabuena <b>Neji</b> ha comenzado a seguirte.</span>

              <div class="col-sm-5 pl-0">
                <span>20 Enero, 12:15</span>
              </div>
            </div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 ml-auto">
              <span><i id="cross" class="fas fa-times"></i></span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
