<div class="d-none d-md-block col-md-12">
  <div class="card mt-2" >
    <div class="card-header text-center">
      <b>Lista personajes</b>
    </div>

      <ul class="list-group list-group-flush">
          <li class="list-group-item">
          <img class="rounded-circle mb-3" id="neji" src="../../../assets/neji.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
      </li>

    </ul>
  </div>
</div>
