<!-- <script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

</script> -->

<div class="col-md-12">
  <div class="card mt-2" >
    <div class="card-header text-center">
      <b>Lista personajes</b><i id="plus-icon" data-toggle="modal" data-target="#exampleModal" class="fas fa-plus fa-md"></i>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crea tu personaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-group" action="index.html" method="post">
                <input class="form-control mb-1" type="text" name="" placeholder="Nombre">
                <!-- Subida de imagen -->
                <!-- <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Cargar imagen</label>
                </div> -->
                <!-- <div class="form-group">
                    <label for="file">Choose File</label>
                    <input type="file"
                           id="file"
                           (change)="handleFileInput($event.target.files)">
                </div> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Guardar personaje</button>
            </div>
          </div>
        </div>
      </div>

    </div>

      <ul class="list-group list-group-flush">
          <li class="list-group-item">
          <img class="rounded-circle mb-3" id="neji" src="../../../assets/neji.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
          <img class="rounded-circle mb-3" id="tsubasa" src="../../../assets/Tsubasa.jpg">
      </li>

    </ul>
  </div>
</div>
