#neji{
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

#tsubasa{
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

#plus-icon{
  float: right;
  margin-top: 5px;
}

textarea {
  resize: none;
}
