<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Tablero de juego</h5>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        </div>
    </div>

  </div>
</div>
