<!-- <div class="row">
    <div id="publications" class="col-lg-4">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="card">
                <div class="card-body">

                    <div class="image-user float-left">
                        <a>
                            <ngx-avatar class="text-center" src="{{ url + 'get-image-user/' + identity.image }}" size="30% " [round]="true" *ngIf="identity.image"></ngx-avatar>
                            <ngx-avatar class="text-center" src="assets/user.jpg" size="30% " [round]="true" *ngIf="!identity.image"></ngx-avatar>
                        </a>
                    </div>

                    <h4>{{ publication.user.name }}</h4>

                    <div class="date">
                        {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
                    </div>

                    <div class="publication-text float-left">
                        {{ publication.text }}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="col-lg-12 text-center">
    <p>
        <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver más publicaciones
        </button>
    </p>
</div> -->


<div *ngFor="let publication of publications" class="item-publication">
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div style="margin-bottom: 10px;" class="col-md-2">
                    <ngx-avatar src="{{ url + 'get-image-user/' + identity.image }}" size="30% " [round]="true" *ngIf="identity.image"></ngx-avatar>
                    <ngx-avatar src="assets/user.jpg" size="100% " [round]="true" *ngIf="!identity.image"></ngx-avatar>
                </div>

                <div class="col-md-3">
                    <h4 style="margin-top: 10px;">{{ publication.user.name }}</h4>
                    <span>({{ publication.user.nick }})</span>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ publication.text }}
                </div>
            </div>

            <div class="row">
                <div style="margin-top: 10px;" class=" col-sm-6 col-md-10">
                    {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
                </div>

                <div class="col-sm-6 col-md-2">
                    <i style="margin-top: 12px;" class="far fa-heart fa-lg"></i>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- <div class="col-lg-12 text-center">
    <p>
        <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver más publicaciones
        </button>
    </p>
</div> -->