<div class="col-lg-8">
    <h1>{{ title }}</h1>
    <div id="data-profile" *ngIf="user">
        <div class="avatar">
            <img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image">
            <!-- <img src="assets/user.png" *ngIf="!user.image"> -->
        </div>

        <div class="user-name">
            <p>{{user.name}}</p>

            <div class="follow">
                <!-- <div class="badge badge-secondary" *ngIf="followed">
                    Te sigue
                </div> -->
                <!-- <span class="badge badge-pill badge-success" *ngIf="followed">Te sigue</span> -->

                <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">Seguir</button>
                <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()" [class.btn-danger]="user._id == followUserOver">
                <span *ngIf="user._id == followUserOver; else following"></span>
                <ng-template #following>Siguiendo</ng-template>
                Dejar de seguir</button>
            </div>
        </div>
    </div>
</div>
<!-- MAQUETAR Y VER QUE DATOS TIENEN QUE IR -->
<sidebar></sidebar>