<!DOCTYPE html>
<html lang="es">

<head>

</head>

<body>

    <header>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-auto logo d-none d-lg-block">
                    <a href="">
                        <img src="../../../assets/logo.png" alt="">
                    </a>
                </div>

                <div class="col-12 col-sm-8 col-lg-6 flex-last buscar" *ngIf="auth.loggedIn">
                    <form action="">
                        <div class="row no-gutters align-items-center">
                            <div class="columna col-10">
                                <input type="text" placeholder="Buscar...">
                            </div>

                            <div class="columna col-2">
                                <button><i class="fas fa-search"></i></button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-12 col-sm-3 col-md-4 col-lg-4 menu d-flex justify-content-between ml-auto">
                    <a *ngIf="auth.loggedIn" href="" [routerLink]="['./home']" [routerLinkActive]="['active']"><i class="fas fa-home"></i><span id="icon"> Inicio</span></a>
                    <a *ngIf="auth.loggedIn" href="" [routerLink]="['./home']" [routerLinkActive]="['active']"><i class="fas fa-network-wired"></i><span id="icon"> Salas</span></a>
                    <a *ngIf="auth.loggedIn" href="" [routerLink]="['./gente']" [routerLinkActive]="['active']"><i class="fas fa-bell"></i><span id="icon"> Notificaciones</span></a>

                    <a *ngIf="!auth.loggedIn" href="" [routerLink]="['./login']" [routerLinkActive]="['active']"><i class="fas fa-sign-in-alt"></i>
                      <span id="icon"> Login</span></a>
                    <a *ngIf="!auth.loggedIn" href="" [routerLink]="['./registro']" [routerLinkActive]="['active']"><i class="fas fa-user"></i>
                      <span id="icon"> Registro</span></a>

                    <a *ngIf="auth.loggedIn" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-cog"></i><span
                      id="icon"></span></a>

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body text-center">
                                    <!-- <center> -->
                                    <a href="" id="color-letras"><span>Perfil</span></a><br>
                                    <a href="" id="color-letras"><span>Configuración de privacidad</span></a><br>
                                    <a href="" id="color-letras"><span>Ajustes</span></a><br>
                                    <a id="color-letras" data-dismiss="modal" (click)="logOut()">Cerrar sesión</a>
                                    <!-- </center> -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </header>

    <main>
    </main>
</body>

</html>
