
 <div id="p">
      <form #newPubForm="ngForm" class="form-inline form-group mt-2">

          <textarea name="message" placeholder="Escribe una publicación..."></textarea>

          <div class="image-upload">
              <label for="file-input">
                <i id="icon-images" class="fas fa-camera-retro fa-md"></i>
              </label>

              <input id="file-input" type="file"/>
          </div>

          <!-- <button id="buttonPublication" type="submit" class="btn btn-success ml-2">Publicar</button> -->
     </form>
  </div>

  
  <!-- <textarea name="message" onkeyup="countChars(this);"></textarea>
  <p id="charNum">25 characters remaining</p> -->

  <!-- <textarea name="message" onkeyup="countChars(this);"></textarea>
  <p id="charNum">25 characters remaining</p> -->
