
 <div>
      <form id="textareaP" #newPubForm="ngForm" class="form-inline form-group mt-2">

          <textarea name="message" rows="2" cols="90" placeholder="Escribe una publicación..."></textarea> <i id="icon-images" class="fas fa-camera-retro fa-3x"></i>

          <!-- <button id="buttonPublication" type="submit" class="btn btn-success ml-2">Publicar</button> -->
     </form>
  </div>

  <!-- <textarea name="message" onkeyup="countChars(this);"></textarea>
  <p id="charNum">25 characters remaining</p> -->

  <!-- <textarea name="message" onkeyup="countChars(this);"></textarea>
  <p id="charNum">25 characters remaining</p> -->
